head{
    font-family: 'Oswald', sans-serif;
}
body{
    font-family: 'Oswald', sans-serif;
    background-color: #F3F1FF;
}
.background{
    background-color: #FFFFFF;
    margin:0 300px;
    margin-bottom: 20px;
}

.player{
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    margin-bottom: px;
    border-bottom: 1px solid black;
}
.player-size{
    width: 80px;
}
.player-flex{
    display: flex;
}
.player-name{
    margin-left: 20px;
}
.players{
color: #562EFF;
font-size: 24px;
padding-left: 85px;
padding-top: 20px;
}
.top-blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    padding-left: 85px;
  }
  ----------
  
  .blog {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-left:0 auto;
    padding-left: 20px;
    box-shadow: 5px 5px 5px 5px #8888880e;
  }
  -----------
  
  .blog-info {
    margin-left: 16px;
  }
  .author{
      text-decoration: none;
      color: #562EFF;
  }
  h4{
color: #9F9F9F;
  }
.banner-img{
    width: 200px;
}
.course-width{
    width: 220px;
}
.course-one{
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.course-tittle{
        color: #562EFF;
        font-size: 24px;
        padding-top: 20px;
        padding-left: 50px;
}
.background-course{
    background-color: #FFFFFF;
    margin: 0 300px;
}